{{ 'product-gallery.css' | asset_url | stylesheet_tag }}
{{ 'product-information.css' | asset_url | stylesheet_tag }}

{{ 'product-page.css' | asset_url | stylesheet_tag }}



{% assign hasSizeOption = false %}
{% for option in product.options_with_values %}
  {% if option.name contains "Size" %}
    {% assign hasSizeOption = true %}
  {% endif %}
{% endfor %}
{%- liquid
  assign zoom_size = 'master'
  assign min_aspect_ratio = 0.6
  assign strip_app_blocks_from_quickbuy = true
 
  assign current_variant = product.selected_or_first_available_variant
  assign featured_media = product.selected_or_first_available_variant.featured_media | default: product.featured_media

  for block in section.blocks
    if block.type == 'variant_picker' and block.settings.select_first_variant == false
      assign current_variant = product.selected_variant | default: false
      assign featured_media = product.featured_media
    endif
  endfor

  assign product_form_id = 'product-form-' | append: section.id | append: '-' | append: product.id
  assign product_form_installments_id = product_form_id | append: '-installments'

  assign show_preorder_label = false
  if settings.prod_pre_order_label_show and product.template_suffix contains 'preorder'
    assign show_preorder_label = true
  endif

  if section.settings.enable_var_img_grouping
    assign variant_image_grouping_option_index = ''
    assign grouping_options = section.settings.var_img_grouping_option | downcase | replace: ', ', ',' | split: ','
    for option in product.options
      assign option_downcase = option | downcase
      if grouping_options contains option_downcase
        assign variant_image_grouping_option_index = forloop.index0
        break
      endif
    endfor
  endif
-%}

{% liquid 
  if hasSizeOption == false
  assign current_variant = product.selected_or_first_available_variant
  endif
%}

{% style %}
  .related_items_product .product-label-product,
  .related_items_product .product-label-collection {
    display: none;
  }
{% endstyle %}
 {% assign current_product = product %}
<div data-section-type="main-product" data-components="accordion,custom-select,modal" class="custom-main-product">
  <div class="product-detail quickbuy-content spaced-row container">
    <div class="gallery gallery--layout-{{ section.settings.gallery_layout }} gallery-size-{{ section.settings.gallery_size }} product-column-left {% if product.media.size > 1 %}has-thumbnails{% endif %}"
      data-cc-animate
      data-cc-animate-delay="0.2s"
      data-variant-image-grouping="{{ section.settings.enable_var_img_grouping }}"
      data-variant-image-grouping-option="{{ section.settings.var_img_grouping_option | escape }}"
      data-variant-image-grouping-option-index="{{ variant_image_grouping_option_index }}">
      <div class="gallery__inner{% if section.settings.enable_sticky_columns %} sticky-content-container{% endif %}">
        <div class="main-image">
          {%- liquid
            for media in product.media
              if media.id == featured_media.id
                assign initial_slide = forloop.index0
                break
              endif
            endfor
          -%}

          <div class="slideshow product-slideshow slideshow--custom-initial" data-slick='{"adaptiveHeight":true,"infinite": true,"initialSlide":{{initial_slide}}}'>
            {%- for media in product.media -%}
              <div class="slide{% if forloop.index0 == initial_slide %} slide--custom-initial{% endif %}" data-media-id="{{ media.id }}">
                {%- if media.media_type == 'image' and section.settings.enable_zoom -%}<a class="show-gallery" href="{{ media.preview_image | img_url: zoom_size }}">{%- endif -%}
                  {%- render 'media', media: media, min_aspect_ratio: min_aspect_ratio -%}
                {%- if media.media_type == 'image' and section.settings.enable_zoom -%}</a>{%- endif -%}
              </div>
            {%- endfor -%}

          </div>
            <div class="mobile-look-toggle">
              <!-- <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/toggle.png?v=1715591722"> -->
              <svg width="22" height="14" viewBox="0 0 22 14" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M10.9971 5.55951L1.35043 11.3292C1.21496 11.4106 1.10991 11.5342 1.05138 11.681C0.992852 11.8278 0.984064 11.9897 1.02636 12.142C1.06866 12.2943 1.15972 12.4285 1.28558 12.5241C1.41144 12.6197 1.56517 12.6714 1.72322 12.6712H20.2768C20.4348 12.6714 20.5886 12.6197 20.7144 12.5241C20.8403 12.4285 20.9313 12.2943 20.9736 12.142C21.0159 11.9897 21.0071 11.8278 20.9486 11.681C20.8901 11.5342 20.785 11.4106 20.6496 11.3292L10.9971 5.55951Z" stroke="white" stroke-width="0.8" stroke-miterlimit="10"/>
              <path d="M9.31055 2.72058C9.31055 2.38028 9.41146 2.04762 9.60052 1.76468C9.78958 1.48173 10.0583 1.2612 10.3727 1.13097C10.6871 1.00075 11.033 0.966672 11.3668 1.03306C11.7006 1.09945 12.0071 1.26332 12.2478 1.50395C12.4884 1.74457 12.6523 2.05115 12.7186 2.38491C12.785 2.71867 12.751 3.06462 12.6207 3.37901C12.4905 3.69341 12.27 3.96213 11.987 4.15119C11.7041 4.34025 11.3714 4.44116 11.0311 4.44116V5.58821" stroke="white" stroke-width="0.8" stroke-miterlimit="10"/>
              </svg>

            </div>

          <div class="slideshow-controls">
              <div class="slideshow-controls__arrows"></div>
          </div>

          {%- assign models = product.media | where: 'media_type', 'model' -%}
          {% if models.size > 0 %}
            <script type="application/json" class="model-json">
              {{- product.media | where: 'media_type', 'model' | json -}}
            </script>
            <button
              class="view-in-space"
              data-shopify-xr
              data-shopify-model3d-id="{{ models.first.id }}"
              data-shopify-title="{{ product.title | escape }}"
              data-shopify-xr-hidden>
              {%- render 'icon-3d-badge-full-color' -%}
              <span class="view-in-space__text">{{ 'products.product.view_in_space' | t }}</span>
            </button>
          {% endif %}
        </div>

        {% if product.media.size > 1 %}
          <div class="thumbnails{% unless section.settings.gallery_layout contains 'carousel' %} mobile-only-important{% endunless %}">
            {% for media in product.media %}
              <a class="thumbnail thumbnail--media-{{ media.media_type }}" href="{% if section.settings.enable_zoom %}{{ media.preview_image | img_url: zoom_size }}{% else %}#{% endif %}" data-media-id="{{ media.id }}">
                {% render 'responsive-image', image: media.preview_image, min_aspect_ratio: min_aspect_ratio %}

                {%- if media.media_type == 'video' or media.media_type =='external_video' -%}
                  <div class="thumbnail__badge">
                    {% render 'icon-video-badge-full-color' %}
                  </div>
                {%- endif -%}
                {%- if media.media_type == 'model' -%}
                  <div class="thumbnail__badge">
                    {% render 'icon-3d-badge-full-color' %}
                  </div>
                {%- endif -%}
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>

    <div class="detail product-column-right" data-cc-animate data-cc-animate-delay="0.2s">
      <div class="product-form{% if section.settings.enable_sticky_columns %} sticky-content-container{% endif %}" data-ajax-add-to-cart="true" data-product-id="{{ product.id }}" data-enable-history-state="true" data-show-sale-price-label="{{ settings.prod_sale_show }}" data-show-preorder-label="{{ show_preorder_label }}">
        <div class="product-detail-top custom-right">
          <div class="product-detail-inner ">
            {% for block in section.blocks %}
              {% case block.type %}
                {% when '@app' %}
                  <div class="{% if strip_app_blocks_from_quickbuy %}not-in-quickbuy{% endif %}">
                    {% render block %}
                  </div>

                {% when 'title' %}

                  {% if section.settings.show_breadcrumbs %}
                    {% render 'breadcrumbs', show_next_prev: true %}

                    {% if section.settings.show_breadcrumbs_mb == false %}
                      {% style %}
                        @media (max-width: 767px) {
                          body.template-product .section-main-product .product-detail .breadcrumbs {
                            display: none;
                          }
                        }
                      {% endstyle %}
                    {% endif %}
                  {% endif %}

                  <div class="title-row" {{ block.shopify_attributes }}>
                    {% style %}
                      .product-title--{{ section.id }} {
                        font-size: {{ block.settings.product_title_font }}px !important;
                        line-height: 65px !important;
                      }

                      @media (max-width: 768px) {
                        .product-title--{{ section.id }} {
                        font-size: {{ block.settings.product_title_font_mobile }}px !important;
                        line-height: 24px !important;
                      }
                      }
                    {% endstyle %}
                    <h1 class="display title product-title--{{ section.id }}">{{ product.title }}</h1>
                    <div data-shop-id="{{shop.id}}" product-id="{{ product.id }}" class="ddreview-star"></div>
                  </div>

                {% when 'price' %}
                  {% style %}
                    body.template-suffix-custom-product .section-main-product .product-detail .price-container .price-area .current-price.theme-money {
                      font-size: {{ block.settings.price_font_size }}px !important;
                    }

                    @media (max-width: 768px ) {
                      body.template-suffix-custom-product .section-main-product .product-detail .price-container .price-area .current-price.theme-money {
                        font-size: {{ block.settings.price_font_size_mobile }}px !important;
                      }
                    }
                  {% endstyle %}
                  <div class="price-container" {{ block.shopify_attributes }}>
                    <div>
                      {%- liquid
                        assign cheapest_variant = product.variants | sort: 'price' | first
                      -%}
                      {% if cheapest_variant.compare_at_price > cheapest_variant.price %}
                        <div class="here-is-sale">Sale</div>
                      {% else %}
                        {% render 'product-label', product: product, cheapest_variant: cheapest_variant %}
                      {% endif %}
                      <div class="price-area">
                        {% if current_variant %}
                          <div class="price h4-style {% if current_variant.compare_at_price > current_variant.price %}on-sale{% endif %}">
                            
                            <span class="current-price theme-money">
                              {%- if settings.product_currency_code_enabled -%}
                                {{- current_variant.price | money_with_currency -}}
                              {%- else -%}
                                {{- current_variant.price | money -}}
                              {%- endif -%}
                            </span>
                            {% if current_variant.compare_at_price > current_variant.price %}
                            <span class="was-price theme-money">{{ current_variant.compare_at_price | money }}</span>
                            {% endif %}
                          </div>

                          {% render 'unit-price', variant: current_variant %}

                        {% else %}
                          {%- assign cheapest_variant = product.variants | sort: 'price' | first -%}
                          <div class="price h4-style {% if cheapest_variant.compare_at_price > cheapest_variant.price %}on-sale{% endif %}">
                            <span class="current-price theme-money">
                              {%- if settings.product_currency_code_enabled -%}
                                {{ cheapest_variant.price | money_with_currency }}
                              {%- else -%}
                                {{ cheapest_variant.price | money }}
                              {%- endif -%}
                            </span>
                            {% if cheapest_variant.compare_at_price > cheapest_variant.price %}
                              <span class="was-price theme-money">{{ cheapest_variant.compare_at_price | money }}</span>
                            {% endif %}

                            {% render 'unit-price', variant: cheapest_variant %}
                          </div>
                        {% endif %}
                      </div>
                    </div>
                    <div class="price-descriptors">
                      {%- form 'product', product, id: product_form_installments_id -%}
                        <input type="hidden" name="id" value="{% if current_variant %}{{ current_variant.id }}{% endif %}">
                        {{ form | payment_terms }}
                      {%- endform -%}

                      {%- if block.settings.show_tax_and_shipping -%}
                        {%- if cart.taxes_included or shop.shipping_policy.body != blank -%}
                          <div class="product-policies">
                            {%- if cart.taxes_included -%}
                              {{ 'products.product.include_taxes' | t }}
                            {%- endif -%}
                            {%- if shop.shipping_policy.body != blank -%}
                              {{ 'products.product.shipping_policy_html' | t: link: shop.shipping_policy.url }}
                            {%- endif -%}
                          </div>
                        {%- endif -%}
                      {%- endif -%}

                      {% if section.settings.inventory_transfers_enable %}
                        <div class="product-inventory-transfer {% unless current_variant.incoming %}product-inventory-transfer--none{% endunless %}">
                          {%- if current_variant.incoming -%}
                            {%- if current_variant.next_incoming_date -%}
                              {%- assign date = current_variant.next_incoming_date | date: format: 'date' -%}
                              {%- if current_variant.available -%}
                                {{ 'products.transfers.will_not_ship_until' | t: date: date }}
                              {%- else -%}
                                {{ 'products.transfers.will_be_in_stock_after' | t: date: date }}
                              {%- endif -%}
                            {%- else -%}
                              {{ 'products.transfers.waiting_for_stock' | t }}
                            {%- endif -%}
                          {%- endif -%}
                        </div>
                      {% endif %}
                    </div>
                  </div>

                {% when 'description' %}
                  <div class="not-in-quickbuy__text {% unless block.settings.show_in_quickbuy %}not-in-quickbuy{% endunless %}{% if block.settings.show_in_tab %} product-detail-accordion{% endif %}" {{ block.shopify_attributes }}>
                    {% if block.settings.show_in_tab %}
                      {%- capture accordion_title -%}
                        {%- if block.settings.icon == blank -%}
                          {{- 'products.product.description' | t -}}
                        {%- else -%}
                          <div class="with-icon">
                            {% render 'icon', icon: block.settings.icon, size: 'small' %}
                            <span class="with-icon__beside">{{ 'products.product.description' | t }}</span>
                          </div>
                        {%- endif -%}
                      {%- endcapture -%}

                      
                      {% render 'accordion', allow_multi_open: true, add_content_class: 'rte cf', first_item_open: block.settings.open_tab, item1_title: accordion_title, item1_content: product.description %}
                      
                      
                      
                    {% else %}

                    {% style %}
                    .product-description--{{ section.id }} {
                      margin-top: {{ block.settings.product_description_margin_top }}px;
                      margin-bottom: {{ block.settings.product_description_margin_bottom }}px;
                    }
                    .product-description--{{ section.id }} p {
                      font-size: {{ block.settings.product_description_font }}px !important;
                    }

                    @media (max-width: 768px) {
                      .product-description--{{ section.id }} {
                      margin-top: {{ block.settings.product_description_margin_top_mobile }}px;
                      margin-bottom: {{ block.settings.product_description_margin_bottom_mobile }}px;
                    } 
                      .product-description--{{ section.id }} p {
                      font-size: {{ block.settings.product_description_font_mobile }}px !important;
                    }
                    }
                    {% endstyle %}
                      <div class="product-description rte cf product-description--{{ section.id }}">
                        {%- if block.settings.icon == blank -%}
                         <h4>{{- product.description -}}</h4> 
                        {%- else -%}
                          <div class="with-icon">
                            {% render 'icon', icon: block.settings.icon, size: 'small' %}
                            <span class="with-icon__beside">{{ product.description }}</span>
                          </div>
                        {%- endif -%}
                      </div>
                    {% endif %}
                  </div>

                {% when 'vendor' %}
                  {%- liquid
                    assign product_vendor_handle = product.vendor | handle
                    if collections[product_vendor_handle].handle == product_vendor_handle
                      assign vendor_url = collections[product_vendor_handle].url
                    else
                      assign vendor_url = product.vendor | url_for_vendor
                    endif
                  -%}
                  <div class="vendor lightly-spaced-row" {{ block.shopify_attributes }}>
                    <span class="product-detail-label">{{ 'products.product.vendor' | t }}</span> {{ product.vendor | link_to: vendor_url, class: 'underline' }}
                  </div>

                {% when 'sku' %}
                  <div class="sku {% if current_variant and current_variant.sku == blank %}sku--no-sku{% endif %}" {{ block.shopify_attributes }}>
                    <span class="product-detail-label">{{ 'products.product.sku' | t }}</span> <span class="sku__value">{% if current_variant %}{{ current_variant.sku }}{% endif %}</span>
                  </div>
          
                {% when 'variant_picker' %}
                  <a href="#" class="size-not-text"><span class="body21">Size not available?</span></a>
                  <div class="input-row" {{ block.shopify_attributes }}>

                    
                    {% render 'variant-picker',product_page: true, section: section, product: product, block: block %}
                    {% comment %}
                    {% render 'custom-variant-picker',product_page: true, section: section, product: product, block: block %}
                    {% endcomment %}

                    {% comment %}
                    <div class="product-option-row">
                      <div class="product-size">
                        <fieldset>
                          <div class="field-top">
                            <legend>SIZE</legend>
                            <span class="size-selected">M</span>
                          </div>
                          <div class="option-btn-wrap">
                            <div class="option-btn">
                              <input type="radio" name="size-var" required>
                              <label for="size-var"><span></span></label>
                            </div>
                          </div>
                          
                        </fieldset>
                      </div>
                      <div class="product-color"></div>
                    </div>
                    {% endcomment %}
                  </div>
                {% when 'popup' %}
                  {% if block.settings.page != blank %}
                    <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                      <a class="{% if block.settings.style != 'link' %}btn btn--{{ block.settings.style }}{% else %}small-feature-link{% endif %} cc-modal" href="{{ pages[block.settings.page].url }}" target="_blank" data-cc-modal-contentelement="#block-content-{{ section.id }}-{{ block.id }}">{{ block.settings.text | escape }}</a>
                      <div id="block-content-{{ section.id }}-{{ block.id }}" class="hidden">
                        <div class="rte cf">{{ pages[block.settings.page].content }}</div>
                      </div>
                    </div>
                  {% endif %}
                {% when 'buy_buttons' %}
                  <div class="error-ms-pd"></div>

                  <div class="buy-buttons-row" {{ block.shopify_attributes }}>
                    {% form 'product', product, id: product_form_id, class: 'form product-purchase-form', data-product-id: product.id %}
                      <select name="id" class="original-selector{% if product.variants.size == 1 %} hidden{% endif %}" aria-label="{{ 'products.product.selector_label' | t | escape }}">
                        {% if product.variants.size > 1 %}<option value="">{{ 'products.product.no_selection' | t }}</option>{% endif %}
                        {% for variant in product.variants %}
                        <option value="{{ variant.id }}"
                          {% if variant == current_variant %} selected="selected"{% endif %}
                          {% if section.settings.inventory_transfers_enable and variant.incoming %}
                            {%- if variant.next_incoming_date -%}
                              {%- assign date = variant.next_incoming_date | date: format: 'date' -%}
                              {%- if variant.available -%}
                                data-inventory-transfer="{{ 'products.transfers.will_not_ship_until' | t: date: date | escape }}"
                              {%- else -%}
                                data-inventory-transfer="{{ 'products.transfers.will_be_in_stock_after' | t: date: date | escape }}"
                              {%- endif -%}
                            {%- else -%}
                              data-inventory-transfer="{{ 'products.transfers.waiting_for_stock' | t | escape }}"
                            {%- endif -%}
                          {% endif %}
                          data-stock="{% if variant.inventory_management != blank and variant.inventory_quantity <= 0 %}out{% endif %}" data-color="{{ variant.option1 }}">{{ variant.title | escape }}</option>
                        {% endfor %}
                      </select>

                        {%- liquid
                          assign enable_dynamic_payment_button = false
                          if block.settings.enable_payment_button and product.selling_plan_groups == empty
                            unless product.template_suffix contains 'preorder'
                              assign enable_dynamic_payment_button = true
                            endunless
                          endif
                        -%}
                        <div class="quantity-submit-row input-row flex {% if enable_dynamic_payment_button %}has-spb{% endif %}">
                          {% if block.settings.show_quantity_selector %}
                            <div class="quantity-wrapper">
                              <a class="data-quantity-btn data-quantity-btn--minus button-disable" href="#" data-quantity="down">-</a>
                              <input oninput="onChangeQuantity()" 
                              aria-label="{{ 'products.product.quantity' | t }}" id="quantity" type="text" name="quantity" min="1" value="1" />
                              <a class="data-quantity-btn" href="#" data-quantity="up">+</a>
                            </div>
                          {% endif %}
                          <div class="quantity-submit-row__submit input-row">
                            {%- capture add_to_cart_text -%}
                              {%- if product.template_suffix contains 'preorder' -%}
                                {{ 'products.product.preorder' | t }}
                              {%- else -%}
                                {{ 'products.product.add_to_cart' | t }}
                              {%- endif -%}
                            {%- endcapture -%}
                            <div class="visible-button" onclick="validateVariant()"></div>
                            <button class="capitialized2 button button--large" style="font-size: {{ settings.font_size_capitalized2_int }}px"type="submit" ">
                              <span class=""></span>
                            </button>
                          </div>
                          {% if enable_dynamic_payment_button %}
                            <script class="dynamic-payment-button-template" type="text/template">
                              {{ form | payment_button }}
                            </script>
                          {% endif %}
                      
                          {% if block.settings.show_backorder_text == true %}
                            {% render 'backorder', product: product, variant: current_variant %}
                          {% endif %}
                        </div>

                        {% comment %}
                        <div class="product-featured-icons">
                          <div class="product-featured-icons-row">
                            <div class="product-featured-col">
                              <div class="prod-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Asset_1_560x_1.png?v=1714486190">
                              </div>
                              <div class="prod-icon-text">
                                Wind Resistant
                              </div>
                            </div>
                            <div class="product-featured-col">
                              <div class="prod-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Asset_1_560x_1.png?v=1714486190">
                              </div>
                              <div class="prod-icon-text">
                                Four Way Stretch
                              </div>
                            </div>
                            <div class="product-featured-col">
                              <div class="prod-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Asset_1_560x_1.png?v=1714486190">
                              </div>
                              <div class="prod-icon-text">
                                Lightweight
                              </div>
                            </div>
                            <div class="product-featured-col">
                              <div class="prod-icon">
                                <img src="https://cdn.shopify.com/s/files/1/0873/8658/7445/files/Asset_1_560x_1.png?v=1714486190">
                              </div>
                              <div class="prod-icon-text">
                                Water Resistant
                              </div>
                            </div>
                            
                          </div>
                        </div>

                        {% endcomment %}
                      
                            
      
                        {%- unless block.settings.show_pickup_availability == false -%}
                          {% render 'store-availability', product: product, current_variant: current_variant %}
                        {%- endunless -%}

                      {% comment %} {% else %}
                        <div class="product-unavailable">{{ 'products.product.product_unavailable' | t }}</div>
                      {% endif %}{% endcomment %}
                    {% endform %}
                  </div>
                {% when 'inventory_level' %}
                  <div class="variant-visibility-area relative h-0{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                    {%- for variant in product.variants -%}
                      {% if variant.inventory_management != blank and variant.inventory_quantity > 0 %}
                        {% if block.settings.show_inventory_notice == 'always' or variant.inventory_quantity <= block.settings.inventory_threshold %}
                          <script type="text/template" data-variant-id="{{ variant.id }}">
                            {%- liquid
                              assign show_inventory_count = false
                              if block.settings.show_inventory_count == 'always'
                                assign show_inventory_count = true
                              endif
                              if block.settings.show_inventory_count == 'low' and variant.inventory_quantity <= block.settings.inventory_threshold
                                assign show_inventory_count = true
                              endif

                              if show_inventory_count
                                if variant.inventory_quantity <= block.settings.inventory_threshold
                                  assign notice = 'products.labels.only_x_left' | t: quantity: variant.inventory_quantity
                                else
                                  assign notice = 'products.labels.x_units_available' | t: quantity: variant.inventory_quantity
                                endif
                              else
                                if variant.inventory_quantity <= block.settings.inventory_threshold
                                  assign notice = 'products.labels.low_stock' | t
                                else
                                  assign notice = 'products.labels.in_stock' | t
                                endif
                              endif
                            -%}
                            {%- capture notice_html -%}
                              <div class="lightly-spaced-row visible-hidden">
                                <div class="product-info-block product-inventory-notice {% if block.settings.enable_pulse %}product-inventory-notice--pulse{% endif %} product-inventory-notice--{% if variant.inventory_quantity <= block.settings.inventory_threshold %}low{% else %}ok{% endif %} with-icon{% if block.settings.enable_box %} text-box{% endif %}">
                                  <span class="with-icon__beside">{{ notice }}</span>
                                </div>
                              </div>
                            {%- endcapture -%}
                            {{- notice_html -}}
                          </script>
                          {%- if variant.id == current_variant.id -%}
                            {{- notice_html -}}
                          {%- endif -%}
                        {% endif %}
                      {% endif %}
                    {%- endfor -%}
                  </div>
                

                {% when 'accordion' %}
                  {%- liquid
                    assign content = block.settings.content
                    if block.settings.page != blank
                      assign content = pages[block.settings.page].content
                    endif
                  -%}
                  {%- if content != blank -%}
                    <div class="product-detail-accordion custom-accordion{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                      {%- capture accordion_title -%}
                        {%- if block.settings.icon == blank -%}
                          {{- block.settings.title -}}
                        {%- else -%}
                          <div class="with-icon">
                            {% render 'icon', icon: block.settings.icon, size: 'small' %}
                            <span class="with-icon__beside">{{ block.settings.title }}</span>
                          </div>
                        {%- endif -%}
                      {%- endcapture -%}
                      
                      {% comment %}
                      {% render 'accordion', allow_multi_open: true, add_content_class: 'rte cf', first_item_open: block.settings.open, item1_title: accordion_title, item1_content: content %}
                      {% endcomment %}

                      {% render 'custom-product-accordion', allow_multi_open: true, add_content_class: 'rte cf', first_item_open: block.settings.open, item1_title: accordion_title, item1_content: content %}
                    </div>
                  {%- endif -%}

                {% when 'text' %}
                  {% if block.settings.text != blank %}
                    <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                      {%- liquid
                        if block.settings.enable_box
                          assign box_color_brightness = block.settings.box_color | color_brightness
                          if box_color_brightness > 128
                            assign box_color_saturation = block.settings.box_color | color_extract: 'saturation'
                            if box_color_saturation > 0
                              assign text_col = block.settings.box_color | color_darken: 60 | color_saturate: 30 | color_to_rgb | split: '(' | last | split: ')' | first
                            else
                              assign text_col = block.settings.box_color | color_darken: 60 | color_to_rgb | split: '(' | last | split: ')' | first
                            endif
                          else
                            assign text_col = '255,255,255'
                          endif
                        endif
                      -%}
                      <div class="product-info-block{% if block.settings.icon != blank or block.settings.custom_icon != blank %} with-icon{% endif %}{% if block.settings.enable_box %} text-box{% endif %}" {% if block.settings.enable_box %}style="--box-color: {{ block.settings.box_color }}; --box-text-color: {{ text_col }}"{% endif %}>
                        {%- if block.settings.icon == blank and block.settings.custom_icon == blank -%}
                          {{- block.settings.text -}}
                        {%- else -%}
                          {% if block.settings.custom_icon == blank %}
                            {% render 'icon', icon: block.settings.icon, size: block.settings.icon_size %}
                          {% else %}
                            <span class="icon icon--image icon--{{ block.settings.icon_size }}">{% render 'responsive-image', image: block.settings.custom_icon %}</span>
                          {% endif %}
                          <span class="with-icon__beside">{{ block.settings.text }}</span>
                        {%- endif -%}
                      </div>
                    </div>
                  {% endif %}

                {% when 'richtext' %}
                  {% if block.settings.richtext != blank %}
                    <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                      {%- liquid
                        if block.settings.enable_box
                          assign box_color_brightness = block.settings.box_color | color_brightness
                          if box_color_brightness > 128
                            assign box_color_saturation = block.settings.box_color | color_extract: 'saturation'
                            if box_color_saturation > 0
                              assign text_col = block.settings.box_color | color_darken: 60 | color_saturate: 30 | color_to_rgb | split: '(' | last | split: ')' | first
                            else
                              assign text_col = block.settings.box_color | color_darken: 60 | color_to_rgb | split: '(' | last | split: ')' | first
                            endif
                          else
                            assign text_col = '255,255,255'
                          endif
                        endif
                      -%}
                      <div class="product-info-block{% if block.settings.icon != blank or block.settings.custom_icon != blank %} with-icon{% endif %}{% if block.settings.enable_box %} text-box{% endif %}" {% if block.settings.enable_box %}style="--box-color: {{ block.settings.box_color }}; --box-text-color: {{ text_col }}"{% endif %}>
                        {%- if block.settings.icon == blank and block.settings.custom_icon == blank -%}
                          <div class="rte cf">{{ block.settings.richtext }}</div>
                        {%- else -%}
                          {% if block.settings.custom_icon == blank %}
                            {% render 'icon', icon: block.settings.icon, size: block.settings.icon_size %}
                          {% else %}
                            <span class="icon icon--image icon--{{ block.settings.icon_size }}">{% render 'responsive-image', image: block.settings.custom_icon %}</span>
                          {% endif %}
                          <div class="with-icon__beside rte cf">{{ block.settings.richtext }}</div>
                        {%- endif -%}
                      </div>
                    </div>
                  {% endif %}

                

                {% when 'link' %}
                  {% if block.settings.text != blank %}
                    <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>
                      <a class="{% if block.settings.style != 'link' %}btn btn--{{ block.settings.style }}{% else %}small-feature-link{% endif %}" href="{{ block.settings.url }}">{{ block.settings.text | escape }}</a>
                    </div>
                  {% endif %}

                {% when 'image' %}
                  {% if block.settings.image != blank %}
                    <div class="lightly-spaced-row inline-width-container{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" style="width: {{ block.settings.image_width }}px" {{ block.shopify_attributes }}>
                      {% if block.settings.url != blank %}<a href="{{ block.settings.url }}">{% endif %}
                        {% render 'responsive-image', image: block.settings.image %}
                      {% if block.settings.url != blank %}</a>{% endif %}
                    </div>
                  {% endif %}

                {% when 'custom_liquid' %}
                  {% if block.settings.custom_liquid != blank %}
                    <div class="lightly-spaced-row{% unless block.settings.show_in_quickbuy %} not-in-quickbuy{% endunless %}" {{ block.shopify_attributes }}>{{ block.settings.custom_liquid }}</div>
                  {% endif %}

                {% when 'sharing' %}
                  <div class="lightly-spaced-row not-in-quickbuy" {{ block.shopify_attributes }}>
                    {% render 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
                  </div>

                {% when 'divider' %}
                  <hr {% unless block.settings.show_in_quickbuy %}class="not-in-quickbuy"{% endunless %} {{ block.shopify_attributes }}>

                {% when 'custom_option' %}
                  {%- if block.settings.label != blank -%}
                    {%- liquid
                      assign custom_option_input_id = product_form_id | append: '-custom-' | append: forloop.index
                      assign custom_input_name = block.settings.label | escape | prepend: 'properties[' | append: ']'
                    -%}
                    <div class="custom-option" {{ block.shopify_attributes}}>
                      {% case block.settings.type %}
                        {% when 'text' %}
                          <div class="option-selector">
                            <label class="label" for="{{ custom_option_input_id }}">{{ block.settings.label | escape }}</label>
                            <input class="custom-option__text-input" type="text" id="{{ custom_option_input_id }}" form="{{ product_form_id }}" name="{{ custom_input_name }}" {% if block.settings.text_required %}required{% endif %}>
                          </div>

                        {% when 'textarea' %}
                          <div class="option-selector">
                            <label class="label" for="{{ custom_option_input_id }}">{{ block.settings.label | escape }}</label>
                            <textarea class="custom-option__text-input" id="{{ custom_option_input_id }}" form="{{ product_form_id }}" name="{{ custom_input_name }}" {% if block.settings.text_required %}required{% endif %}></textarea>
                          </div>

                        {% when 'checkbox' %}
                          <div class="option-selector">
                            <label class="label">
                              <input type="hidden" form="{{ product_form_id }}" name="{{ custom_input_name }}" value="{{ block.settings.checkbox_unchecked_value | escape }}">
                              <input type="checkbox" form="{{ product_form_id }}" name="{{ custom_input_name }}" value="{{ block.settings.checkbox_checked_value | escape }}">
                              <span class="label__text-beside-input">{{ block.settings.label | escape }}</span>
                            </label>
                          </div>

                        {% when 'multiple' %}
                          {%- assign custom_options = block.settings.multiple_options | newline_to_br | strip_newlines | split: '<br />' -%}

                          {% if block.settings.multiple_style == 'dropdown' %}
                            <div class="option-selector" data-selector-type="dropdown">
                              {% render 'custom-select',
                                id: custom_option_input_id,
                                label: block.settings.label,
                                option_values: custom_options,
                                selected_value: custom_options.first,
                                include_native: true,
                                native_name: custom_input_name,
                                native_form_id: product_form_id
                              %}
                            </div>

                          {% else %}
                            <div class="option-selector" data-selector-type="radio">
                              <fieldset>
                                <legend class="label">{{ block.settings.label }}</legend>
                                {% for option in custom_options %}
                                  <label class="label">
                                    <input type="radio" form="{{ product_form_id }}" name="{{ custom_input_name }}" value="{{ option | escape }}"{% if forloop.first %} checked{% endif %}>
                                    <span class="label__text-beside-input">{{ option | escape }}</span>
                                  </label>
                                {% endfor %}
                              </fieldset>
                            </div>
                          {% endif %}
                      {% endcase %}
                    </div>
                  {%- endif -%}

                

                {% when 'related_items' %}
                  {% if block.settings.link_1 != blank or block.settings.link_2 != blank or block.settings.link_3 != blank or block.settings.link_4 != blank %}
                    {% comment %} {% assign variable = block.settings.product_show %}
                    {% assign variablenew = variable | plus: 1  %}
                    {% style %}
                      .related_items_product .fixed-layout .column.column--half:nth-child({{ variablenew }}) {
                        display:none;
                      }
                    {% endstyle %} 
                    {% endcomment %}
                    <div class="related_items_product lightly-spaced-row lightly-spaced-row-above not-in-quickbuy" {{ block.shopify_attributes }}>
                      <div class="label">{{ block.settings.title | escape }}</div>
                      {% comment %} <div class="fixed-layout">
                          {% for collection in product.collections limit: 1 %}
                            {% assign index = 'now' | date: '%S' %}
                            {% assign index = index | times: collection.products.size %}
                            {% assign index = index | divided_by: 60 %}
                            {% for product in collection.products offset: index limit: variablenew %}

                              {% unless product.handle == current_product.handle %}
                                <div class="column column--half">
                                  {% render 'product-block',related_product: true , product: product, custom_aspect_ratio: chosen_aspect_ratio %}
                                </div>                          
                              {% endunless %}

                            {% endfor %}
                          {% endfor %}
                      </div> {% endcomment %}

                      
                      
                      <div class="fixed-layout">
                        {%- liquid
                          assign resource_list_type = ''
                          assign resource_list_handle = ''
                          for i in (1..4)
                            assign setting_key = 'link_' | append: i
                            if block.settings[setting_key] != blank
                              assign url_split = block.settings[setting_key] | split: '?' | first | split: '/'
                              assign resource_handle = url_split | last
                              assign resource_type_index = url_split | size | minus: 2
                              assign resource_type_index_minus_1 = resource_type_index | minus: 1
                              if url_split.size == 4 and url_split[resource_type_index_minus_1] == 'blogs'
                                assign resource_type = 'articles'
                                assign resource_handle = url_split[resource_type_index] | append: '/' | append: resource_handle
                              else
                                assign resource_type = url_split[resource_type_index]
                              endif

                              if resource_list_type != blank
                                assign resource_list_type = resource_list_type | append: ','
                                assign resource_list_handle = resource_list_handle | append: ','
                              endif
                              assign resource_list_type = resource_list_type | append: resource_type
                              assign resource_list_handle = resource_list_handle | append: resource_handle
                            endif
                          endfor

                          assign resource_list_type_arr = resource_list_type | split: ','
                          assign resource_list_handle_arr = resource_list_handle | split: ','


                          if settings.prod_thumb_shape == 'portrait-23'
                            assign chosen_aspect_ratio_product = 0.67
                          elsif settings.prod_thumb_shape == 'portrait-45'
                            assign chosen_aspect_ratio_product = 0.8
                          elsif settings.prod_thumb_shape == 'square'
                            assign chosen_aspect_ratio_product = 1.0
                          elsif settings.prod_thumb_shape == 'landscape-54'
                            assign chosen_aspect_ratio_product = 1.25
                          elsif settings.prod_thumb_shape == 'landscape-32'
                            assign chosen_aspect_ratio_product = 1.50
                          elsif settings.prod_thumb_shape == 'tallest' and resource_list_type == 'products,products'
                            assign chosen_aspect_ratio_product = all_products[resource_list_handle_arr.first].featured_media.preview_image.aspect_ratio | at_most: all_products[resource_list_handle_arr.last].featured_media.preview_image.aspect_ratio
                          elsif settings.prod_thumb_shape == 'shortest' and resource_list_type == 'products,products'
                            assign chosen_aspect_ratio_product = all_products[resource_list_handle_arr.first].featured_media.preview_image.aspect_ratio | at_least: all_products[resource_list_handle_arr.last].featured_media.preview_image.aspect_ratio
                          else
                            assign chosen_aspect_ratio_product = false
                          endif

                          if settings.coll_grid_image_shape == 'portrait-23'
                            assign chosen_aspect_ratio_collection = 0.67
                          elsif settings.coll_grid_image_shape == 'portrait-45'
                            assign chosen_aspect_ratio_collection = 0.8
                          elsif settings.coll_grid_image_shape == 'square'
                            assign chosen_aspect_ratio_collection = 1.0
                          elsif settings.coll_grid_image_shape == 'landscape-54'
                            assign chosen_aspect_ratio_collection = 1.25
                          elsif settings.coll_grid_image_shape == 'landscape-32'
                            assign chosen_aspect_ratio_collection = 1.50
                          elsif settings.coll_grid_image_shape == 'tallest' and resource_list_type == 'collections,collections'
                            assign chosen_aspect_ratio_collection = collections[resource_list_handle_arr.first].featured_image.aspect_ratio | at_most: collections[resource_list_handle_arr.last].featured_image.aspect_ratio
                          elsif settings.coll_grid_image_shape == 'shortest' and resource_list_type == 'collections,collections'
                            assign chosen_aspect_ratio_collection = collections[resource_list_handle_arr.first].featured_image.aspect_ratio | at_least: collections[resource_list_handle_arr.last].featured_image.aspect_ratio
                          else
                            assign chosen_aspect_ratio_collection = false
                          endif

                          for type in resource_list_type_arr
                            assign handle = resource_list_handle_arr[forloop.index0]
                            echo '<div class="column column--half">'
                            case type
                              when 'products'
                                  render 'product-block',related_product: true, product: all_products[handle], no_quick_buy: true, custom_aspect_ratio: chosen_aspect_ratio_product
                              when 'collections'
                                render 'collection-block', collection: collections[handle], custom_aspect_ratio: chosen_aspect_ratio_collection
                              when 'articles'
                                render 'article-block-small', article: articles[handle]
                            endcase
                            echo '</div>'
                          endfor
                        -%}
                      </div>
                    </div>
                  {% endif %}
              {% endcase %}
            {% endfor %}

            <div class="lightly-spaced-row-above only-in-quickbuy">
              <a class="more" href="{{ product.url }}">
                <span class="beside-svg underline">{{ 'products.quick_buy.read_more' | t }}</span>
                <span class="icon--small icon-natcol">{% render 'svg-chevron-right' %}</span>
              </a>
            </div>
          </div>
        </div>
        <div class="product-detail-bottom custom-right {% if section.settings.product_list_row %} product_list_row{% endif %}">
            <div class="complete-look-wrap">
              <div class="modal-close-wrap">
                <span class="cust-modal-close" style="display: none;"><svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M14 1.41L12.59 0L7 5.59L1.41 0L0 1.41L5.59 7L0 12.59L1.41 14L7 8.41L12.59 14L14 12.59L8.41 7L14 1.41Z" fill="#9E9E9E"/></svg></span>
              </div>
              <h1 class="complete-look-title">Complete the Look</h1>
              <div class="complete-look-row">
                {% for product in product.metafields.custom.product_list.value %}                             
                  <div class="complete-look-col">
                    <div class="look-img">
                      <img src="{{ product.featured_image.src | product_img_url: 'master' }}" alt="{{ product.title }}">
                    </div>
                    <div class="look-details">
                      <div class="look-inner">
                        <div class="prod-details">
                          <span class="body18">{{ product.title }}</span>
                          <div class="prod-price">{{ product.price | money}}</div>
                        </div>
                        <div class="prod-btn">
                          <a href="{{ product.url }}" class="quick-btn" data-variant-id="{{ product.selected_or_first_available_variant.id }}"><span class="capitalized">Quickshop</span></a>
                        </div>
                      </div>
                    </div>
                  </div>                              
                {% endfor %}
              </div>
            </div>
        </div>
      </div>
                    <div class="test"></div>
      <script type="application/json" id="ProductJson-{{ product.id }}">
        {{- product | json -}}
      </script>
    </div>
  </div>
  <!-- /.product-detail -->

  {% if section.settings.show_location_underneath %}
    <div class="product-description rte container cf padded-row not-in-quickbuy">{{ product.description }}</div>
  {% endif %}
                          
</div>

{% render 'structured-data-product', product: product, current_variant: product.selected_or_first_available_variant %}

<script>
  document.querySelector('.related_items_product').style.opacity = '0';
  addEventListener('load', () => {
    document.querySelectorAll('.related_product-product').forEach((e) => {
      let title = e.querySelectorAll('.product-block__title');
      title.forEach((i) => {
        if (i.outerText == '') {
          e.parentNode.remove()
        }
      })
    })
    document.querySelector('.related_items_product').style.opacity = '1';
  })
</script>

<script>
  document.querySelector('.mobile-look-toggle').addEventListener('click', function() {
    document.querySelector('.complete-look-wrap').classList.toggle('active');
    document.querySelector('body').classList.add('overflow-hidden');
  });
  
  document.querySelector('.cust-modal-close').addEventListener('click', function() {
      document.querySelector('.complete-look-wrap').classList.remove('active');
      document.querySelector('body').classList.remove('overflow-hidden');
  });
</script>


                          
<script>
  $('.quick-add-to-cart').on('click', function() {
    var var_id = $(this).attr('data-variant-id');
    var qty = 1;

    $.ajax({
        type: 'POST',
        url: '/cart/add.js',
        data: {
            quantity: 1,
            id: var_id
        },
        dataType: 'json',
        success: function(data) {
            window.location.href = "/cart";

        }
    });
})


</script>

<script>
  if (screen && screen.width < 767) {
    $(document).ready(function(){
      var $slider = $("body.template-suffix-custom-product .slideshow");
    
      if ($slider.length) {
        var currentSlide;
        var slidesCount;
        var sliderCounter = document.createElement("div");
        sliderCounter.classList.add("slider__counter");
    
        var updateSliderCounter = function (slick, currentIndex) {
          currentSlide = (typeof currentIndex !== 'undefined') ? currentIndex + 1 : slick.slickCurrentSlide() + 1;
          slidesCount = slick.slideCount;
          $(sliderCounter).text(currentSlide + "/" + slidesCount);
        };
    
        $slider.on("init", function (event, slick) {
          $slider.append(sliderCounter);
          updateSliderCounter(slick);
        });
    
        $slider.on("afterChange", function (event, slick, currentSlide) {
          updateSliderCounter(slick, currentSlide);
        });
    
        $slider.slick();
    
        // Update counter after a delay of 100 milliseconds
        setTimeout(function() {
          updateSliderCounter($slider.slick('getSlick'));
        }, 3000);
      }
    });
}

</script>
{% schema %}
  {
    "name": "Product pages",
    "class": "section-main-product page-section-spacing page-section-spacing--no-top-mobile",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_breadcrumbs",
        "label": "Show breadcrumbs on Desktop",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "show_breadcrumbs_mb",
        "label": "Show breadcrumbs on Mobile",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "show_location_underneath",
        "label": "Show description below media",
        "default": false
      },
      {
        "type": "checkbox",
        "id": "inventory_transfers_enable",
        "label": "Show inventory transfer notice",
        "info": "Shows under price. Learn how to create inventory transfers [here](https://help.shopify.com/en/manual/products/inventory/transfers/create-transfer)",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_sticky_columns",
        "label": "Enable stick on scroll",
        "default": false
      },
      {
        "type": "header",
        "content": "Media"
      },
      {
        "type": "paragraph",
        "content": "Learn more about [media types](https://help.shopify.com/en/manual/products/product-media)"
      },
      {
        "type": "select",
        "id": "gallery_size",
        "label": "Size",
        "options": [
          {
            "value": "small",
            "label": "Small"
          },
          {
            "value": "medium",
            "label": "Medium"
          },
          {
            "value": "large",
            "label": "Large"
          },
          {
            "value": "75",
            "label": "Custom 75%"
          }
        ],
        "default": "medium"
      },
      {
        "type": "select",
        "id": "gallery_layout",
        "label": "Layout",
        "options": [
          {
            "value": "carousel-beside",
            "label": "Carousel - thumbnails left"
          },
          {
            "value": "carousel-under",
            "label": "Carousel - thumbnails below"
          },
          {
            "value": "columns-1",
            "label": "One column"
          },
          {
            "value": "columns-2",
            "label": "Two column"
          },
          {
            "value": "collage-1",
            "label": "Collage - style 1"
          },
          {
            "value": "collage-2",
            "label": "Collage - style 2"
          }
        ],
        "default": "carousel-under"
      },
      {
        "type": "checkbox",
        "id": "enable_zoom",
        "label": "Enable image zoom",
        "default": true
      },
      {
        "type": "checkbox",
        "id": "enable_video_looping",
        "label": "Enable video looping",
        "default": false
      },
      {
        "type": "header",
        "content": "Media grouping"
      },
      {
        "type": "checkbox",
        "id": "enable_var_img_grouping",
        "label": "Show media associated with the selected variant",
        "info": "Other variants' media will be hidden",
        "default": false
      },
      {
        "type": "text",
        "id": "var_img_grouping_option",
        "label": "Option name",
        "info": "The name of the option to group media by.",
        "default": "Color,Colour,Couleur,Farbe"
      },
      {
        "type": "paragraph",
        "content": "If your store displays multiple languages, include all translations separated by a comma, e.g. Color,Couleur,Farbe"
      },
      {
        "type": "paragraph",
        "content": "Arrange product media by this option (all 'red' media together, then all 'blue' media together, for example). The first media in each group should be assigned to a variant. [Read more](https://cleancanvas.co.uk/support/general/grouped-variant-images)"
      },
      {
        "type": "checkbox",
        "id": "product_list_row",
        "label": "Product list row - Complete the Look",
        "default": true
      },
      {
        "type": "range",
        "id": "product_list_title",
        "min": 10,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Product list tile font-size",
        "default": 48
      },
      {
        "type": "range",
        "id": "product_list_title_mobile",
        "min": 10,
        "max": 60,
        "step": 1,
        "unit": "px",
        "label": "Mobile Product list tile font-size",
        "default": 24
      },
      {
        "type": "range",
        "id": "product_list_item_font",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Product list item font-size",
        "default": 18
      },
      {
        "type": "range",
        "id": "product_list_item_font_mobile",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Mobile Product list item font-size",
        "default": 18
      },
      {
        "type": "range",
        "id": "product_list_item_price",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Product list item price-size",
        "default": 16
      },
      {
        "type": "range",
        "id": "product_list_item_price_mobile",
        "min": 10,
        "max": 40,
        "step": 1,
        "unit": "px",
        "label": "Mobile Product list item price-size",
        "default": 16
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "title",
        "name": "Title",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "product_title_font",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Product title font-size",
            "default": 48
          },
          {
            "type": "range",
            "id": "product_title_font_mobile",
            "min": 10,
            "max": 100,
            "step": 1,
            "unit": "px",
            "label": "Mobile Product title font-size",
            "default": 24
          }
        ]
      },
      {
        "type": "price",
        "name": "Price",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "price_font_size",
            "min": 10,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Price font-size",
            "default": 24
          },
          {
            "type": "range",
            "id": "price_font_size_mobile",
            "min": 10,
            "max": 40,
            "step": 1,
            "unit": "px",
            "label": "Mobile Price font-size",
            "default": 17
          },
          {
            "type": "checkbox",
            "id": "show_tax_and_shipping",
            "label": "Show tax status and shipping policy link",
            "default": false
          },
          {
            "type": "checkbox",
            "label": "Show reviews rating",
            "id": "enable_product_reviews_by_price",
            "info": "Add reviews by installing the [Shopify Product Reviews app](https:\/\/apps.shopify.com\/product-reviews)",
            "default": true
          }
        ]
      },
      {
        "type": "description",
        "name": "Description",
        "limit": 1,
        "settings": [
          {
            "type": "range",
            "id": "product_description_font",
            "min": 10,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "product description font-size",
            "default": 24 
          },
          {
            "type": "range",
            "id": "product_description_font_mobile",
            "min": 10,
            "max": 60,
            "step": 1,
            "unit": "px",
            "label": "Mobile product description font-size",
            "default": 18 
          },
          {
            "type": "checkbox",
            "id": "show_in_tab",
            "label": "Show in tab",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "open_tab",
            "label": "Open tab",
            "default": false
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "No icon"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "credit_card",
                "label": "Credit card"
              },
              {
                "value": "dollar_sign",
                "label": "Dollar sign"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "feather",
                "label": "Feather"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "percent",
                "label": "Percent"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "scissors",
                "label": "Scissors"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          },
          {
            "type": "range",
            "id": "product_description_margin_top",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin top",
            "default": 0
          },
          {
            "type": "range",
            "id": "product_description_margin_bottom",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Margin bottom",
            "default": 64
          },
          {
            "type": "range",
            "id": "product_description_margin_top_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Margin top",
            "default": 0
          },
          {
            "type": "range",
            "id": "product_description_margin_bottom_mobile",
            "min": 0,
            "max": 100,
            "step": 2,
            "unit": "px",
            "label": "Mobile Margin bottom",
            "default": 64
          }
        ]
      },
      {
        "type": "vendor",
        "name": "Vendor",
        "limit": 1
      },
      {
        "type": "sku",
        "name": "SKU",
        "limit": 1
      },
      {
        "type": "variant_picker",
        "name": "Variant picker",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_single",
            "label": "Show for a single variant",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "select_first_variant",
            "label": "Select first available variant",
            "default": true
          },
          {
            "type": "radio",
            "id": "variant_style",
            "label": "Variant style",
            "options": [
              {
                "value": "listed",
                "label": "Box with label"
              },
              {
                "value": "dropdown",
                "label": "Dropdown"
              }
            ],
            "default": "listed"
          },
          {
            "type": "checkbox",
            "id": "disable_unavailable_variants",
            "label": "Show availability in selectors",
            "info": "When an option is selected, options below it are updated to show their availability",
            "default": true
          },
          {
            "type": "header",
            "content": "Size chart"
          },
          {
            "type": "checkbox",
            "id": "show_size_chart",
            "label": "Enable size chart",
            "default": false
          },
          {
            "type": "text",
            "id": "size_chart_variant",
            "label": "Option name",
            "info": "The label to show the link beside",
            "default": "Size"
          },
          {
            "type": "page",
            "id": "size_chart_page",
            "label": "Page containing size chart"
          }
        ],
        "limit": 1
      },
      {
        "type": "buy_buttons",
        "name": "Buy buttons",
        "limit": 1,
        "settings": [
          {
            "type": "checkbox",
            "id": "show_quantity_selector",
            "label": "Show quantity selector",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "enable_payment_button",
            "label": "Show dynamic checkout button",
            "info": "Each customer will see their preferred payment method from those available on your store, such as PayPal or Apple Pay. [Learn more](https://help.shopify.com/manual/using-themes/change-the-layout/dynamic-checkout)",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_backorder_text",
            "label": "Show backorder text",
            "default": true,
            "info": "Only shows for products which use Shopify inventory tracking and are available to purchase when out of stock."
          },
          {
            "type": "checkbox",
            "id": "show_pickup_availability",
            "label": "Show pickup availability",
            "default": true,
            "info": "Show customers where they can pick up the product. [Learn more](https://help.shopify.com/en/manual/shipping/setting-up-and-managing-your-shipping/local-methods/local-pickup)"
          }
        ]
      },
      {
        "type": "inventory_level",
        "name": "Inventory level",
        "settings": [
          {
            "type": "radio",
            "id": "show_inventory_notice",
            "label": "Show inventory notice",
            "options": [
              {
                "label": "Only when inventory low",
                "value": "low"
              },
              {
                "label": "Always",
                "value": "always"
              }
            ],
            "default": "low"
          },
          {
            "type": "select",
            "id": "show_inventory_count",
            "label": "Show count in inventory notice",
            "options": [
              {
                "label": "Never",
                "value": "never"
              },
              {
                "label": "Only when inventory low",
                "value": "low"
              },
              {
                "label": "Always",
                "value": "always"
              }
            ],
            "default": "low"
          },
          {
            "type": "range",
            "id": "inventory_threshold",
            "min": 1,
            "max": 100,
            "step": 1,
            "label": "Low inventory threshold",
            "default": 10
          },
          {
            "type": "checkbox",
            "id": "enable_box",
            "label": "Enable box style",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "enable_pulse",
            "label": "Enable pulse",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": true
          }
        ]
      },
      {
        "type": "accordion",
        "name": "Collapsible tab",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Collapsible tab"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "No icon"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "credit_card",
                "label": "Credit card"
              },
              {
                "value": "dollar_sign",
                "label": "Dollar sign"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "feather",
                "label": "Feather"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "percent",
                "label": "Percent"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "scissors",
                "label": "Scissors"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          },
          {
            "type": "richtext",
            "id": "content",
            "label": "Tab content",
            "default": "<p>Collapsible tab content</p>"
          },
          {
            "type": "page",
            "id": "page",
            "label": "Tab content from page"
          },
          {
            "type": "checkbox",
            "id": "open",
            "label": "Open",
            "default": false
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "text",
        "name": "Text",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Text block"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "No icon"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "credit_card",
                "label": "Credit card"
              },
              {
                "value": "dollar_sign",
                "label": "Dollar sign"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "feather",
                "label": "Feather"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "percent",
                "label": "Percent"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "scissors",
                "label": "Scissors"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "Custom icon"
          },
          {
            "type": "select",
            "id": "icon_size",
            "label": "Icon size",
            "default": "small",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "enable_box",
            "label": "Enable box style",
            "default": false
          },
          {
            "type": "color",
            "id": "box_color",
            "label": "Box color",
            "info": "Suggestions: Blue #e5f3ff, Teal #e0f5f5, Green #e0f4d5, Yellow #fcf1cd, Red #fbeae5",
            "default": "#e0f4d5"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "richtext",
        "name": "Rich text",
        "settings": [
          {
            "type": "richtext",
            "id": "richtext",
            "label": "Rich text",
            "default": "<p>Rich text block</p>"
          },
          {
            "type": "select",
            "id": "icon",
            "label": "Icon",
            "default": "",
            "options": [
              {
                "value": "",
                "label": "No icon"
              },
              {
                "value": "award",
                "label": "Award"
              },
              {
                "value": "box",
                "label": "Box"
              },
              {
                "value": "briefcase",
                "label": "Briefcase"
              },
              {
                "value": "calendar",
                "label": "Calendar"
              },
              {
                "value": "chat_bubble",
                "label": "Chat bubble"
              },
              {
                "value": "check_mark",
                "label": "Check mark"
              },
              {
                "value": "check_mark_in_circle",
                "label": "Check mark in circle"
              },
              {
                "value": "clock",
                "label": "Clock"
              },
              {
                "value": "credit_card",
                "label": "Credit card"
              },
              {
                "value": "dollar_sign",
                "label": "Dollar sign"
              },
              {
                "value": "dryer",
                "label": "Dryer"
              },
              {
                "value": "eye",
                "label": "Eye"
              },
              {
                "value": "feather",
                "label": "Feather"
              },
              {
                "value": "gift",
                "label": "Gift"
              },
              {
                "value": "heart",
                "label": "Heart"
              },
              {
                "value": "iron",
                "label": "Iron"
              },
              {
                "value": "leaf",
                "label": "Leaf"
              },
              {
                "value": "leather",
                "label": "Leather"
              },
              {
                "value": "lock",
                "label": "Lock"
              },
              {
                "value": "map_pin",
                "label": "Map pin"
              },
              {
                "value": "pants",
                "label": "Pants"
              },
              {
                "value": "percent",
                "label": "Percent"
              },
              {
                "value": "plane",
                "label": "Plane"
              },
              {
                "value": "price_tag",
                "label": "Price tag"
              },
              {
                "value": "question_mark",
                "label": "Question mark"
              },
              {
                "value": "return",
                "label": "Return"
              },
              {
                "value": "ruler",
                "label": "Ruler"
              },
              {
                "value": "scissors",
                "label": "Scissors"
              },
              {
                "value": "shirt",
                "label": "Shirt"
              },
              {
                "value": "shoe",
                "label": "Shoe"
              },
              {
                "value": "silhouette",
                "label": "Silhouette"
              },
              {
                "value": "star",
                "label": "Star"
              },
              {
                "value": "truck",
                "label": "Truck"
              },
              {
                "value": "washing",
                "label": "Washing"
              }
            ]
          },
          {
            "type": "image_picker",
            "id": "custom_icon",
            "label": "Custom icon"
          },
          {
            "type": "select",
            "id": "icon_size",
            "label": "Icon size",
            "default": "small",
            "options": [
              {
                "value": "small",
                "label": "Small"
              },
              {
                "value": "large",
                "label": "Large"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "enable_box",
            "label": "Enable box style",
            "default": false
          },
          {
            "type": "color",
            "id": "box_color",
            "label": "Box color",
            "info": "Suggestions: Blue #e5f3ff, Teal #e0f5f5, Green #e0f4d5, Yellow #fcf1cd, Red #fbeae5",
            "default": "#e0f4d5"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "popup",
        "name": "Pop-up",
        "settings": [
          {
            "type": "text",
            "id": "text",
            "label": "Link text",
            "default": "Pop-up link text"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "page",
            "id": "page",
            "label": "Page"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "link",
        "name": "Link",
        "settings": [
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "text",
            "id": "text",
            "label": "Text",
            "default": "Link text"
          },
          {
            "type": "select",
            "id": "style",
            "label": "Style",
            "default": "primary",
            "options": [
              {
                "label": "Button - primary",
                "value": "primary"
              },
              {
                "label": "Button - secondary",
                "value": "secondary"
              },
              {
                "label": "Link",
                "value": "link"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "image",
        "name": "Image",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 60,
            "max": 700,
            "step": 10,
            "unit": "px",
            "label": "Image width",
            "default": 700
          },
          {
            "type": "url",
            "id": "url",
            "label": "Link"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "custom_option",
        "name": "Custom option",
        "settings": [
          {
            "type": "text",
            "id": "label",
            "label": "Label",
            "info": "Required",
            "default": "Custom option"
          },
          {
            "type": "select",
            "id": "type",
            "label": "Type",
            "default": "text",
            "options": [
              {
                "label": "Text",
                "value": "text"
              },
              {
                "label": "Long text",
                "value": "textarea"
              },
              {
                "label": "Checkbox",
                "value": "checkbox"
              },
              {
                "label": "Multiple options",
                "value": "multiple"
              }
            ]
          },
          {
            "type": "header",
            "content": "Text"
          },
          {
            "type": "checkbox",
            "id": "text_required",
            "label": "Required",
            "info": "Only works with 'Add to cart' button",
            "default": false
          },
          {
            "type": "header",
            "content": "Checkbox"
          },
          {
            "type": "text",
            "id": "checkbox_checked_value",
            "label": "Checked value",
            "default": "Yes"
          },
          {
            "type": "text",
            "id": "checkbox_unchecked_value",
            "label": "Unchecked value",
            "default": "No"
          },
          {
            "type": "header",
            "content": "Multiple options"
          },
          {
            "type": "select",
            "id": "multiple_style",
            "label": "Style",
            "default": "dropdown",
            "options": [
              {
                "label": "Dropdown",
                "value": "dropdown"
              },
              {
                "label": "Radio",
                "value": "radio"
              }
            ]
          },
          {
            "type": "textarea",
            "id": "multiple_options",
            "label": "Options",
            "default": "Option 1\nOption 2\nOption 3",
            "info": "One option on each line"
          }
        ]
      },
      {
        "type": "custom_liquid",
        "name": "Custom Liquid",
        "settings": [
          {
            "type": "liquid",
            "id": "custom_liquid",
            "label": "Custom Liquid"
          },
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      },
      {
        "type": "related_items",
        "name": "Related items",
        "settings": [
          {
            "type": "paragraph",
            "content": "Will show an image and link for a product, collection, or blog post."
          },
          {
            "type": "paragraph",
            "content": "Heading only shows if links are present."
          },
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Related items"
          },
          {
            "type": "url",
            "id": "link_1",
            "label": "Link 1"
          },
          {
            "type": "url",
            "id": "link_2",
            "label": "Link 2"
          },
          {
            "type": "url",
            "id": "link_3",
            "label": "Link 3"
          },
          {
            "type": "url",
            "id": "link_4",
            "label": "Link 4"
          }
        ]
      },
      {
        "type": "sharing",
        "name": "Sharing",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ],
        "limit": 1
      },
      {
        "type": "divider",
        "name": "Divider",
        "settings": [
          {
            "type": "checkbox",
            "id": "show_in_quickbuy",
            "label": "Show in quick buy",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}
