<div class="home-review">
  <div class="review_top">
    <h2>{{section.settings.title}}</h2>
    <div class="allreview-right pc_showflex">
      {%- if section.settings.star_rating > 0 -%}
            <div class="testimonial__star-rating heading-font">
              {%- for i in (1..section.settings.star_rating) -%}
              <span class="testimonial__star">{% render 'svg-star' %}</span>
              {%- endfor -%}
            </div>
          {%- endif -%}
      <div class="allreview">
        {{section.settings.allreview}}
      </div>
    </div>
    <div class="allreview-right mobile_showflex">
      {%- if section.settings.star_rating > 0 -%}
            <div class="testimonial__star-rating heading-font">
              {%- for i in (1..section.settings.star_rating) -%}
              <span class="testimonial__star">{% render 'svg-star' %}</span>
              {%- endfor -%}
            </div>
          {%- endif -%}
      <div class="allreview">
        {{section.settings.allreview}}
      </div>
    </div>
  </div>
  
  <div class="review_box">
    <div class="swiper-button-prev review-prev"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none"><path d="M6.50635 10.9071L0.53304 6.00033L6.50635 1.09375" stroke="#666666" stroke-width="0.666667" stroke-miterlimit="10"/><path d="M0.533365 6H16" stroke="#666666" stroke-width="0.666667" stroke-miterlimit="10"/></svg></div>
    <div class="swiper reviewSlider-sp">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
        <div class="swiper-slide">
          <div class="rew_top">
            <span class="rew_review-date">{{block.settings.review_date}}</span>
            {%- if block.settings.star_rating2 > 0 -%}
              <div class="testimonial__star-rating heading-font">
                {%- for i in (1..block.settings.star_rating2) -%}
                <span class="testimonial__star"><svg aria-hidden="true" focusable="false" width="24" height="24" viewBox="0 0 24 24" fill="currentColor"><path d="M12 2l3.09 6.26L22 9.27l-5 4.87 1.18 6.88L12 17.77l-6.18 3.25L7 14.14 2 9.27l6.91-1.01L12 2z"></path></svg></span>
                {%- endfor -%}
              </div>
            {%- endif -%}
          </div>
          <div class="rew_content">
            <h2>{{block.settings.review_title}}</h2>
            <div class="rew_content_main">{{block.settings.review_content}}</div>
            <div class="rev_author">
              <div>{{block.settings.author}}</div>
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="swiper-button-next review-next"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="12" viewBox="0 0 16 12" fill="none"><path d="M9.49341 10.9071L15.4667 6.00033L9.49341 1.09375" stroke="#666666" stroke-width="0.666667" stroke-miterlimit="10"/><path d="M15.4666 6H0" stroke="#666666" stroke-width="0.666667" stroke-miterlimit="10"/></svg></div>
  </div>  
</div>

<script>

  var swiper = new Swiper(".reviewSlider-sp", {
    spaceBetween: 50,
    slidesPerView: 3,
    slidesPerGroup: 3,
    loopFillGroupWithBlank: true,
    loop:true,
    speed:2500,
    navigation: {
      nextEl: ".review-next",
      prevEl: ".review-prev",
    },
    breakpoints: { 
      320: {  
        spaceBetween: 40,
        slidesPerView: 1.2,
        slidesPerGroup: 1,
        loopFillGroupWithBlank: true,
      },
      768: {  
        spaceBetween: 50,
        slidesPerView: 2,
        slidesPerGroup: 2,
        loopFillGroupWithBlank: true,
      },
      1280: { 
        spaceBetween: 88,
        slidesPerView: 3,
        slidesPerGroup: 3,
        loopFillGroupWithBlank: true,
      }
    }
  });
  
</script>

{% schema %}
  {
    "name": "Special Home Review",
    "class": "section-special-home-review",
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "REVIEWS FROM OUR COMMUNITY"
      },
		  {
        "type": "text",
        "id": "allreview",
        "label": "All review",
        "default": "5436 Reviews"
      }
    ],
    "blocks": [
      {
        "type": "testimonial",
        "name": "item",
        "settings": [
          {
            "type": "range",
            "id": "star_rating2",
            "min": 0,
            "max": 5,
            "step": 1,
            "label": "Star rating",
            "default": 5
          },
		      {
            "type": "text",
            "id": "review_title",
            "label": "Review title"
          },
		 
          {
            "type": "textarea",
            "id": "review_content",
            "label": "Review content",
            "default": "Add reviews"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Author",
            "default": "Author's name"
          },
		      {
            "type": "text",
            "id": "review_date",
            "label": "Review date"
          }
           
        ]
      }
    ],
    "presets": [
    {
      "name": "Special Home review",
      "settings": {
      },
      "blocks": [
      ]
    }
  ]
  }
{% endschema %}